* {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    box-sizing: border-box;
}

#container {
    width: 970px;
    margin: 0 auto;
}
h2{
    color: rgb(243, 93, 218);
}
.startQuestion {
    color: black;
}
h2 {
    font-size: 75px;
}


h1 {
    width: fit-content;
    margin: 0 auto;
    font-size: 100px;
    color: rgb(0, 0, 0);
}
.questions {
    color: rgb(255, 255, 255);
}

body {
    text-align: center;
    background-color: blueviolet;
    
    font-size: 60px;
}
P {
    color: lawngreen;
    font-size: 40;
}
.output {
    color: rgb(69, 255, 22);
    
    
}


/* sidebar */
/* .sidebar {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding-right: 5%;
} */
/* .logo {
    width: 30px;
} */

/* main content */
/* .main {
    border-left: 1px solid gray;
    padding-left: 5%;
    display: inline-block;
    vertical-align: top;
    width: 69%;
}
.center{
    list-style: inside;
    margin-left: auto;
    margin-right: auto;
}

table {
    color: chartreuse;
    border-collapse: collapse;
    border: 2px solid lightblue;
}
    thead {
        border-bottom: 2px solid lightblue;
    }
    th, td {
        padding: 5px 15px;
    }

.hidden {
    visibility: hidden;
}

.with-css:after {
    content: "But with just a little CSS, we can transform the way all the content appears!";
}*/
.hide {
    display: none;
}



